@* @model first.Models.registration *@
@{
    ViewData["Title"] = "HomePage";
}
<h1>Home Page</h1>

<div class="mt-5 text-center">
    <a class="btn btn-primary mt-3" href="@Url.Action("Login", "Auth")">Logout</a>
</div>
